html {
    height: 100%;
}
body {
    
    min-height: 100%;
}

main {
    background-image: linear-gradient(-180deg, #220000, #070000);
}

#navbar-container {
	background-color: $black;
	border-bottom: 1px solid $color-pink;
	padding: 1rem 1rem;
}

.navbar-custom {
	/* change the brand, text color, link color */
	.navbar-brand,
	.navbar-text,
	.navbar-link {
		color: $color-cyan;
	}

	.nav-item {
		padding: auto 1.2rem;
	}

	/* change the color of active or hovered links */
	.nav-link {
		color: $color-cyan;
		transition: all 0.3s ease;
		padding: 0 1rem;
		text-decoration: none;

		i {
			font-size: 1.2rem;
		}

		&.active,
		&:hover {
			color: $color-pink;
		}
	}

	.dropdown {
		/* for dropdown only - change the color of dropdown */
		&-menu {
			background-color: $color-green;
		}

		&-item {
			color: $white;

			&:hover,
			&:focus {
				color: #191919;
				background-color: #23cc23;
			}
		}
	}
}

#content {
	background-color: $body-bg;
}


.navbar-custom {
    .navbar-nav {
        li {
            a {
                color: #00e3ef;
                transition: all 0.3s ease;
                padding: 0 1rem;
                text-decoration: none;
                i {
                    font-size: 1.5rem;
                }
            }
            a:hover {
                color: #ff33ff;
            }
        }
    }
}

.intro {
    text-align: center;
    padding: 10%;
    text-shadow: 3px 5px 25px #64ccec;
    font-size: 4rem;
    color: #fff;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}

.prompt {
    transition: all 0.3s ease;
    padding: 5%;
    h1 {
        // text-shadow: 3px 5px 25px #64ccec;
        color: #e3544a;
        font-family: "Dosis", Helvetica, Arial, sans-serif;
        font-size: 2rem;
    }

    p {
        color: #fff;
    }

    i {
        color: #e3544a;
        float: left;
        font-size: 5rem;
        margin-right: 30px;
    }
}

.prompt:hover {
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 6% 5%;
    
    h1, i {
        color: #00e3ef;
    }

    border: 2px solid #00e3ef;
}