html {
  height: 100%;
}
body {
  min-height: 100%;
  background-image: linear-gradient(-180deg, #220000, #000000);
  background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
  
}

@font-face {
  font-family: "BlenderPro";
  src: url("../fonts/Blender Pro Bold.ttf");
}

#navbar-container {
  background-color: $black;
  border-bottom: 1px solid $color-cyan;
  padding: 1rem 1rem;
}

.navbar-custom {
  /* change the brand, text color, link color */
  .navbar-brand {
    color: $color-cyan;
  }
  .navbar-text,
  .navbar-link {
    color: $color-cyan;
  }

  .nav-item {
    padding: auto 1.2rem;
  }

  /* change the color of active or hovered links */
  .nav-link {
    color: $color-cyan;
    transition: all 0.4s ease;
    padding: 0 1rem;
    margin-right: 1rem;
    text-decoration: none;

    i {
      font-size: 1.2rem;
    }

    &.active,
    &:hover {
      color: $color-cyan;
    }
  }

  .dropdown {
    /* for dropdown only - change the color of dropdown */
    &-menu {
      background-color: $color-green;
    }

    &-item {
      color: $white;

      &:hover,
      &:focus {
        color: #191919;
        background-color: #23cc23;
      }
    }
  }
}

#content {
  background-color: $body-bg;
}

// .prompts {
//   display: inline-block;
//   margin-left: 10%;
//   width: 25%;
//   height: 100%;

//   ul {
//     list-style-type: none;

//     li {
//       text-transform: uppercase;
//       cursor: pointer;
//       /* layout */
//       position: relative;
//       padding: 30px;
//       margin: 15px 0px;
//       overflow: hidden;
//       width: 350px;
//       height: 54.5px;

//       /* font */
//       color: rgba(211, 87, 91, 0.81);
//       font-size: 26px;
//       text-shadow: 0px 0px 3px rgba(211, 87, 91, 0.91);

//       /* Border */
//       border-style: solid;
//       border-width: 2px;
//       border-color: transparent;
//       /* Animation */
//       transition: color 1s ease-out;
//       transition: border-color 1s ease-out;

//       &:hover{
//         color: $color-cyan;
//         background:  rgba(0, 0, 0, 0.25);

//         border-color: $color-cyan;

//         transition: color 0.23s linear;
//         transition: border-color 0.23s linear;
//       }

//     }
//   }
// }

.prompts {
  display: inline-block;
  // margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  height: 100%;

  ul {
    list-style-type: none;
    margin-top: 2rem;
    padding-left: 0;

    
    a {
      display: block;
      font-family: "BlenderPro", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 100;
      font-size: 1.7rem;
      text-shadow: 0px 0px 3px rgba(211, 87, 91, 0.91);

      cursor: pointer;

      padding: 6px 8px;
      margin: 1.5rem 0;

      border-style: solid;
      border-width: 2px;
      border-color: transparent;

      transition: color 0.2s linear;
      transition: border-color 0.2s linear;

      // a {
        text-decoration: none;
        color: $color-red;

      // }

      &:hover {

        // a{
          color: $color-cyan;
        // }
       

        background: rgba(0, 0, 0, 0.25);

        border-color: $color-cyan;
        

        transition: color 0.2s linear;
        transition: border-color 0.2s linear;
      }
    }
  }
}

@media only screen and (max-width: 1092px) {
  .prompts {
    // display: block;
    // margin: 20% auto;
    text-align: center;
    // width: auto;
    // height: 100%;
  
    ul {
  
      
      a {
        
        font-size: 1rem;
  
  
        cursor: pointer;
        border-width: 1px;
  
        padding: 6px 8px;
        margin: 1.5rem 0;
  
        
      }
    }
  }
}

.ad {

  img {
    width: 80%;
    padding: 5%;
    margin: 25% 10% 3% 10%;
  }

  a {
    display: block;
    font-family: "BlenderPro", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 40%;
    font-weight: 100;
    font-size: 1rem;
    text-shadow: 0px 0px 3px rgba(211, 87, 91, 0.91);

    cursor: pointer;

    padding: 6px 8px;
    margin: 0 auto;

    border-style: solid;
    border-width: 2px;
    border-color: transparent;

    transition: color 0.2s linear;
    transition: border-color 0.2s linear;

    // a {
      text-decoration: none;
      color: $color-red;

    // }

    &:hover {

      // a{
        color: $color-cyan;
      // }
     

      background: rgba(0, 0, 0, 0.25);

      border-color: $color-cyan;
      

      transition: color 0.2s linear;
      transition: border-color 0.2s linear;
    }
  }
}

.table-wrapper {
  padding: 3%;

  h1 {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: $color-cyan;
    margin: 3%;
  }

  .table {
    margin: auto;
    th {
      
      color: $color-yellow;
      font-family: "Dosis", Helvetica, Arial, sans-serif;
    }
    td {
      color: $color-cyan;
      font-family: "Dosis", Helvetica, Arial, sans-serif;
    }
  }
}



.navbar-custom {
  .navbar-nav {
    li {
      a {
        color: #e3544a;
        transition: all 0.3s ease;
        padding: 0 1rem;
        text-decoration: none;
        i {
          font-size: 1.5rem;
        }
      }
      a:hover {
        color: #64ccec;
      }
    }
  }
}

.intro {
  padding: 10%;
  text-shadow: 3px 5px 25px #f7f700ab;
  font-size: 4rem;
  color: #f7f500;

  font-family: "Dosis", Helvetica, Arial, sans-serif;
}

.prompt {
  transition: all 0.3s ease-in-out;
  padding: 5% 0;
  text-align: center;
  h1 {
    // text-shadow: 3px 5px 25px #64ccec;
    color: #e3544a;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    font-size: 2rem;
  }

  p {
    color: #fff;
  }

  i {
    color: #e3544a;
    float: left;
    font-size: 5rem;
    margin-right: 3%;
    margin-left: 10%;
  }
}

.prompt:hover {
  background-color: rgba($color: #000000, $alpha: 0.5);

  padding: calc(5% - 2px) -2px;

  h1,
  i {
    color: #00e3ef;
  }

  border: 1px solid #00e3ef;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-red;
  border-radius: 10px;
}

@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch {
  position: relative;
  margin-left: 6px;
  color: #f7f500;
  font-family: "BlenderPro", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 0.1em;
  animation: glitch-skew 1s infinite linear alternate-reverse;

  @media only screen and (max-width: 768px) {
    font-size: 2.5rem;
  }

  &::before {
    @include glitchCopy;

    left: 2px;

    text-shadow: -2px 0 $color-cyan;

    clip: rect(44px, 450px, 56px, 0);

    animation: glitch-anim 5s infinite linear alternate-reverse;
  }

  &::after {
    @include glitchCopy;
    left: -2px;
    text-shadow: -2px 0 $color-cyan, 2px 2px $color-cyan;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}


.prompt-content {

  padding: 6%;

  h1 {
    color: #eba926;
    font-family: "BlenderPro",sans-serif;
    font-size: 3rem;
    margin: 3% 0
  }

  p {
    color: $color-red;
    font-family: "Dosis",Helvetica, Arial, sans-serif;
    font-size: 1.5rem;

  

  }

  .sub {
    color: $color-cyan
  }

  audio {
    margin: 1rem 0;
  }

  .key {
    color: $color-cyan
  }

  .letter {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

  .bold {
    font-weight: 800;
    color: #ee4e43;
  }

  
}

.notice {
  font-family: "Dosis",Helvetica, Arial, sans-serif;
  color: $color-red;
  padding: 5rem;

  li {
    font-size: 1.5rem;
    span {
      color: $color-cyan;
    }
  }

  h1 {
    color: $color-yellow;
  }
  
}

.pImg {
  height: 400px;
  margin: 10% 0;
}