html,
body {
	height: 100%;
	background-image: linear-gradient(-180deg, #050024, #2c0233);
}

#navbar-container {
	background-color: $black;
	border-bottom: 1px solid $color-pink;
	padding: 1rem 1rem;
}

.navbar-custom {
	/* change the brand, text color, link color */
	.navbar-brand,
	.navbar-text,
	.navbar-link {
		color: $color-cyan;
	}

	/* change the color of active or hovered links */
	.nav-link {
		color: $color-cyan;
		transition: all 0.3s ease;
		padding: 0 1rem;
		text-decoration: none;

		i {
			font-size: 1.2rem;
		}

		&.active,
		&:hover {
			color: $color-pink;
		}
	}

	.dropdown {
		/* for dropdown only - change the color of dropdown */
		&-menu {
			background-color: $color-green;
		}

		&-item {
			color: $white;

			&:hover,
			&:focus {
				color: #191919;
				background-color: #23cc23;
			}
		}
	}
}

#content {
	background-color: $body-bg;
}
